@model Dyslexword.Models.Guess

@{
    ViewBag.Title = "Inicio";
}


<section class="py-5">
    <h1 class="fw-bolder text-center">Completa la palabra</h1>
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-xl-start">
            <div class="col-lg-6">
                <div class="text-center mb-5">
                    <p class="lead fw-normal text-muted mb-0">En el juego de completar la palabra, se te presentarán una serie de consonantes y vocales junto 
                    con una imagen. Tu objetivo es adivinar la vocal o la consonante que falta para que la palabra se ajuste a la imagen. Una vez que sepas cuál 
                    es la vocal o consonante que falta, deberás comprobar si es la respuesta correcta o no.</p>
                </div>
            </div>
            <p class="col-lg-6 btn-lg text-center">
                @if (User.IsInRole("Administrador") || User.IsInRole("Tutor") || User.IsInRole("Alumno"))
                {
                    @Html.ActionLink("Niveles", "Index", "Guess", null, new { @class = "btn btn-primary btn-lg" });
                }
                else
                {
                    <a class="lead fw-normal text-muted mb-0 " style="text-decoration: none;">Debe registrarse para poder jugar</a>
                    @Html.ActionLink("Registrarse", "Register", "Account", null, new { @class = "btn btn-primary btn-lg" });
                }

            </p>
        </div>
        <div class="row gx-5 justify-content-xl-end">
            <div class="col-lg-6">
                <div class="text-center mb-5">
                    <p class="lead fw-normal text-muted mb-0">Una vez que hayas completado exitosamente el nivel, serás recompensado con 100 monedas que podrás canjear de inmediato. Es importante utilizar estas monedas, ya que en el futuro podrás emplearlas para avanzar en otros niveles.</p>
                </div>
            </div>
        </div>

        <div class="row gx-5">
            <div class="col-lg-6">
                <div class="text-center mb-5">
                    <p class="lead fw-normal text-muted">Si encuentras que un nivel se vuelve demasiado difícil, tendrás la opción de canjear monedas para superarlo y avanzar al siguiente</p>
                </div>
            </div>
            <div class="col-lg-6"><img class="img-fluid rounded-3 mb-5" src="https://i.ibb.co/0mb3N9p/completarpalabra-Inicio.png" alt="..." /></div>
        </div>
    </div>
</section>